.dashboard-table {
    border: 1px solid #e6e6e6;
}

.dashboard-table thead {
    background: #0478572e;
    color: #565656;
}

.dashboard-table tbody {
    color: #565656;
}

.dashboard-table thead tr th {
    padding: 1rem;
    font-size: 1.5rem;
}

.dashboard-table tbody tr td {
    padding: 1rem;
    font-size: 1.4rem;
}
